<!-- map template that defines the map view | include in dashboard with: {{>map}} -->

<template name="map">

<section id="mainContent" class="row">

  <div id="map" class='twelve columns'></div>


</section>

  <div id="nextWaypoint">
    <a href="#" id="pin">
      <img src="/images/UberB.png" id="nextButton"/>
    </a>
  </div>



  {{#if "!Meteor.user().profile.uberAccToken"}}
  <a href='https://login.uber.com/oauth/v2/authorize?response_type=code&client_id=_KX8HFVv0AqtWL48zFXY290SXNDcLLPC&scope=request'>LOGIN TO UBER</a>
  {{/if}}

</template>